.lab-card-image {
  width: 393px;
  height: 208px;
}

.lab-card-content {
  padding: 16px;
  width: 393px;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lab-card-content .avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.lab-card-content .user-feature {
  width: 75%;
  text-align: center;
}

.lab-card-content .user-introduce {
  color: #999;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}