.card-image {
  width: 393px;
  height: 208px;
}

.card-content {
  padding: 16px;
  width: 393px;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.user-moto {
  color: #999;
}