header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #3F3F3F;
  color: #FFF;
}

header .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

header div, a, nav {
  display: inline-block;
}

header #nav, .login-panel {
  float: right;
}

header .logo {
  color: #FFF;
}

#nav a{
  text-decoration: none;
  width: 4.5rem;
  text-align: center;
  color: rgba(255, 255, 255, .5);
}

.login-panel {
  width: 5rem;
  text-align: center;
  border: 1px solid;
  border-radius: .3rem;
  height: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}
