a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.inner {
  max-width: 75rem;
  width: 75rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}