.login-form {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
